---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<%= partial "_includes/header" %>

<%= partial "_includes/nav" %>

<div class="content">

    <section class="col1">
        <%= partial "_includes/picQuote" %>
    </section>

    <main>
        <h1>Company Profile</h1>

        <p>Artis-Secure was founded with the idea of providing a holistic security solution for software products. We are currently developing products to assist in the automation of security tasks and to enable non-security resources with security tasks.</p>

        <h4>Management Team</h4>
        <h5>Geoffrey Hill, Director</h5>

        <p>Geoffrey Hill has been a developer in the IT industry since 1990, when he wrote and sold C++ based solutions to measure risk in the commodities markets in New York City.</p>

        <p>From 2007&ndash;2011, Geoffrey was the custodian of the Security Development Lifecycle (SDL) initiative in the Services organization at Microsoft, with endorsement by the Microsoft Trustworthy Computing Initiative Group.</p>

        <p>Geoffrey was recently employed by Cigital Inc., a leader in incorporating secure engineering development frameworks into the software development lifecycles of client organizations.</p>

        <h5 class="itMarginTH">Silvia Hill, Financial Director</h5>

        <p>Silvia Hill  was previously a European Small Cap Fund manager for over 10 years in London, managing over £1bn in assets for institutional and retail clients. Silvia has an MBA in Finance from Nottingham University in UK, and a Business degree from University of Augsburg, Germany.</p>

        <h4>Previous Artis-Secure speaking engagements</h4>

        <ul class="conferences">

            <li class="itMarginBH">
                <div class="date"><i class="fa fa-calendar-o itMarginRQ"></i>May 2012</div>
                <div class="speach">"Adapting SDL Practices to Mobile Security"</div>
                <div class="conference">@ Microsoft Security Development Conference, Washington DC</div>
            </li>

            <li class="itMarginBH">
                <div class="date"><i class="fa fa-calendar-o itMarginRQ"></i>February 2014</div>
                <div class="speach">"<a href="https://www.scribd.com/doc/255763012/14g26-Metricon-9-Seeing-the-Elephant-Real-world-secure-engineering-lifecycle-programs" target="_blank">Real World Secure Engineering Lifecycle Programs</a>"</div>
                <div class="conference">@ RSA San Francisco - Metricon Seeing the Elephant</div>
            </li>

            <li class="itMarginBH">
                <div class="date"><i class="fa fa-calendar-o itMarginRQ"></i>November 2014</div>
                <div class="speach">"<a href="https://www.scribd.com/doc/255763025/14x20-Deepsec-cloud-based-Data-Validation-Patterns" target="_blank">Cloud-based Validation Patterns</a>"</div>
                <div class="conference">@ DeepSec Vienna</div>
            </li>

        </ul>

        <h4 class="itMarginBH">Previous and current training engagements</h4>

        <ul class="teachings">
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2009 &ndash; 2015 &mdash; Surrey University, Guildford UK - Introduction to Software Security and Secure Engineering</li>
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2010 &ndash; Chinese Government Beijing - MS IT Security Practices</li>
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2011 &ndash; Global retail bank in Mumbai - level 1 SDL Training</li>
            <li><i class="fa fa-calendar-o itMarginRQ"></i>2013 &ndash; SWIFT Kuala Lumpur - Defensive Programming Techniques</li>
        </ul>

    </main>

    <aside class="col3">
        <%= partial "_includes/twitter" %>
    </aside>

</div>

<%= partial "_includes/footer" %>

