---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<%= partial "_includes/header" %>

<%= partial "_includes/nav" %>
<div class="content">

  <aside class="col1">
    <%= partial "_includes/picQuote" %>
  </aside>

  <main>
    <h1>Providing software security solutions that can be dependably replicated and assessed</h1>

    <p class="big">Artis-Secure promotes good security practice by providing a complete secure solution. From inception through design, development and testing, our services help architecture and development teams understand critical security threats in their software projects.</p>
    <div class="servicesBox">
      <h2>Services</h2>
      <p>The Artis-Secure team will improve the secure engineering of any project by changing its ad-hoc security processes into a well-governed security framework that is fully integrated into a project's development lifecycle.</p>
      <ul>
        <li><i class="fa fa-connectdevelop itMarginRH"></i>Threat modelling</li>
        <li><i class="fa fa-connectdevelop itMarginRH"></i>Secure Coding Patterns</li>
        <li><i class="fa fa-connectdevelop itMarginRH"></i>Secure Engineering</li>
      </ul>

      <%= partial "_includes/slideshow" %>
    </div>
  </main>

  <aside class="col3">
    <%= partial "_includes/twitter" %>
  </aside>

</div>

<%= partial "_includes/footer" %>
