---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "header" %>

<!-- NAVBAR -->
<%= partial "nav" %>

<div class="content">

    <section class="col1">
        <img class="bioPic">
        <p class="quote">“Secure architecture activity works best when it is integral to the solution architecture.”</p>
        <p class="quoteAtt">– Geoffrey Hill</p>
    </section>

    <main>
        <h1>Security engineering programs</h1>
        <!-- <h1>The Artis-Secure advantage - Developing mature security engineering programs from unconnected ad-hoc security processes</h1> -->
        <p>Artis-Secure promotes good security practice by providing a complete secure solution. From inception through design, development and testing, our services help architecture and development teams understand critical security threats in their software projects.</p>

        <div class="servicesBox">
            <h2>Services</h2>
            <p>The Artis-Secure team will improve the secure engineering of any project by changing its ad-hoc security processes into a well-governed security framework that is fully integrated into a project's development lifecycle.</p>
            <ul>
                <li><i class="fa fa-connectdevelop fa-spin itMarginRH"></i>Security pattern creation</li>
                <li><i class="fa fa-connectdevelop fa-spin itMarginRH"></i>Integrated threat modelling</li>
                <li><i class="fa fa-connectdevelop fa-spin itMarginRH"></i>End-to-end secure engineering</li>
            </ul>

            <!-- SLIDESHOW -->
            <%= partial "slideshow" %>

        </div>

    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "footer" %>

