---
title: Artis-Secure Ltd - Making security Consistent, Repeatable and Measurable
---

<!-- HEADER -->
<%= partial "_includes/header" %>

<!-- NAVBAR -->
<%= partial "_includes/nav" %>

<div class="content">

    <aside class="col1">
      <%= partial "_includes/picQuote" %>
    </aside>

    <main>
        <!-- <i class="fa fa-bullseye itMarginR0 hvr-icon-bounce"></i> -->
        <h1>Integrate a secure engineering framework into any software development lifecycle</h1>

        <h4>Create Trusted Subsystems by</h4>
        <ul>
            <li>Using secure software designs that are proven in the field</li>
            <li>Determining and setting default secure settings</li>
            <li>Designing a secure deployment framework</li>
        </ul>

        <h4>Adapt to Evolving Threats by</h4>
        <ul>
            <li>Inspecting OWASP Top 10 security issues</li>
            <li>Modelling Common Attack Patterns (CAPEC)</li>
            <li>Factoring Common weaknesses (CWE)</li>
        </ul>

        <h4>Mitigate discovered threats using</h4>
        <ul>
            <li>STRIDE threat modelling taxonomy</li>
            <li>Security Frame taxonomy analysis</li>
            <li>The Artis-Secure privacy frame for data inspection</li>
        </ul>


    </main>

    <aside class="col3">
        <!-- TWITTER -->
        <%= partial "_includes/twitter" %>
    </aside>

</div>

<!-- FOOTER -->
<%= partial "_includes/footer" %>

